<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/user">User</router-link>
      |
      <router-link to="/admin-dashboard" v-if="!$store.getters.isUser">Admin</router-link>
      {{ !$store.getters.isUser ? '|' : '' }}
      <router-link to="/about">About</router-link>
    </div>

    <!-- VERY IMPORTANT! -->
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {}
  },
  mounted() {
    console.log("Popup App mounted! User: ", localStorage.getItem('user'));
    this.$store.commit('setUser', localStorage.getItem('user'));
    this.$store.commit('setUserType', localStorage.getItem('userType'));
  },
}
</script>

<style lang="scss">
@import '~bootstrap/dist/css/bootstrap.css';

html {
  width: 600px;
  height: 400px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
