<template>
  <div class="admin-dashboard">
    <h3>This is admin dashboard page ({{ $store.state.user }})</h3>

    <div class="admin-setting">
      <div v-if="!$store.state.isTodayInit">
        Today has not been initialized, click button to init -->
        <button v-on:click="initToday">INIT</button>
      </div>
    </div>

    <div class="ordered-listing">
      <h4>Today</h4>
      <table class="table table-bordered table-striped mb-3">
        <thead>
        <tr>
          <td>#</td>
          <td>User</td>
          <td>Food</td>
          <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, idx) in ordersToday" :key="idx">
          <td>{{ idx + 1 }}</td>
          <td>{{ item.user }}</td>
          <td>{{ item.food }}</td>
          <td>{{ item.price | currency }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
const COLLECTION_URI = "https://api.jsonbin.io/v3/c";
const BIN_URI = "https://api.jsonbin.io/v3/b";
const M_KEY = "$2b$10$M15o/iDDMOEqcIXU1aMOyOt8kiAmWNVmQOGMyr6p3.xX.HlTE1oKG";

export default {
  name: "AdminDashboard",
  data() {
    return {
      /*
       * {"user": "Nguyen Van A1", "food": "food 1", "price": "41500"}
       */
      items: [],
      timer: null,
      /*
       * {"record":"63ff17e0ebd26539d0875448","collectionMeta":{"name":"Mon Mar 06 2023"},"createdAt":"2023-03-01T09:16:16.975Z"}
       */
      collection: null,
    }
  },
  mounted() {
    let app = this;
    browser.runtime.sendMessage({});

    /* check is existing today data */
    checkExistToday();

    /* listing ordered */
    this.timer = setInterval(this.handleOrdered, 5000);

    function checkExistToday() {
      console.log('checkExistToday:');
      let req = new XMLHttpRequest();
      req.onreadystatechange = () => {
        if (req.readyState == XMLHttpRequest.DONE) {
          console.log('checkExistToday: resp: ', req.responseText);
          let collections = JSON.parse(req.responseText);
          let todayCollection = (new Date()).toDateString();
          let notExisted = !collections || !collections[0] || !collections[0].collectionMeta ||
              collections[0].collectionMeta.name !== todayCollection;

          console.log('checkExistToday: existed: ' + !notExisted);
          app.$store.commit('setTodayInit', !notExisted);

          if (!notExisted) {
            app.collection = collections[0];
          }
        }
      };
      req.open("GET", COLLECTION_URI, true);
      req.setRequestHeader("X-Master-Key", "$2b$10$M15o/iDDMOEqcIXU1aMOyOt8kiAmWNVmQOGMyr6p3.xX.HlTE1oKG");
      req.send();
    }
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    ordersToday() {
      return this.items;
    }
  },
  methods: {
    initToday() {
      let app = this;
      /* call to init new */
      init();
      let deletedCount = 0;
      let bins = [];

      function init() {
        getCollections();
      }

      function getCollections() {
        console.log('getCollections:');
        let req = new XMLHttpRequest();
        req.onreadystatechange = () => {
          if (req.readyState == XMLHttpRequest.DONE) {
            console.log('getCollections: resp: ', req.responseText);
            let collections = JSON.parse(req.responseText);
            let collection = collections[0];
            let todayCollection = (new Date()).toDateString();
            getBins(collection, todayCollection);
          }
        };
        req.open("GET", COLLECTION_URI, true);
        req.setRequestHeader("X-Master-Key", M_KEY);
        req.send();
      }

      function getBins(collection, todayCollection) {
        console.log('getBins of collection:', collection);
        let req = new XMLHttpRequest();
        req.onreadystatechange = () => {
          if (req.readyState == XMLHttpRequest.DONE) {
            console.log('getBins: resp:', req.responseText);
            bins = JSON.parse(req.responseText);
            if (!bins) {
              return;
            }

            for (let i = 0; i < bins.length; i++) {
              setTimeout(function () {
                deleteOld(bins[i]);
              }, (i+1) * 500);
            }

            check(collection, todayCollection);
          }
        };
        req.open("GET", `${COLLECTION_URI}/${collection.record}/bins`, true);
        req.setRequestHeader("X-Master-Key", M_KEY);
        req.send();
      }

      function check(collection, todayCollection) {
        let time = 0;
        let interval = setInterval(doCheck, 1000);

        function doCheck() {
          time++;
          if (deletedCount >= bins.length || time >= 60) {
            console.log('check: ' + (time >= 60 ? 'timeout' : 'success'));
            clearInterval(interval);
          }

          /* create new for today */
          if (deletedCount >= bins.length) {
            createNew(collection, todayCollection);
          }
        }
      }

      function deleteOld(bin) {
        console.log('deleteOld:', bin);
        /* remove all prev data */
        let req = new XMLHttpRequest();
        req.onreadystatechange = () => {
          if (req.readyState == XMLHttpRequest.DONE) {
            console.log('deleteOld: resp:', req.responseText);
            deletedCount++;
            console.log('deleteOld: deletedCount: ' + deletedCount);
          }
        };
        req.open("DELETE", `${BIN_URI}/${bin.record}`, true);
        req.setRequestHeader("X-Master-Key", M_KEY);
        req.send();
      }

      function createNew(collection, todayCollection) {
        console.log('createNew: ' + todayCollection + ' override old: ', collection);
        /* rename */
        let req = new XMLHttpRequest();
        req.onreadystatechange = () => {
          if (req.readyState == XMLHttpRequest.DONE) {
            console.log('createNew: resp:', req.responseText);
            let res = JSON.parse(req.responseText);
            if (!res || !res.metadata || res.metadata.name !== todayCollection) {
              console.log('createNew: failed');
              return;
            }

            /* update status */
            console.log('createNew: successfully!');
            app.$store.commit('setTodayInit', true);

            /* set new collection */
            app.collection = res;
          }
        };
        req.open("PUT", `${COLLECTION_URI}/${collection.record}/meta/name`, true);
        req.setRequestHeader("X-Collection-Name", todayCollection);
        req.setRequestHeader("X-Master-Key", M_KEY);
        req.send();
      }
    },
    handleOrdered() {
      let app = this;
      if (app.collection) {
        getBins(app.collection);
      }

      function getBins(collection) {
        console.log('getBins of collection:', collection);
        let req = new XMLHttpRequest();
        req.onreadystatechange = () => {
          if (req.readyState == XMLHttpRequest.DONE) {
            console.log('getBins: resp:', req.responseText);
            let bins = JSON.parse(req.responseText);
            if (!bins) {
              return;
            }

            app.items = convertToOrderedItems(bins);
            console.log('getBins: items:', app.items);
          }
        };
        req.open("GET", `${COLLECTION_URI}/${collection.record}/bins`, true);
        req.setRequestHeader("X-Master-Key", M_KEY);
        req.setRequestHeader("X-Sort-Order", 'descending');
        req.send();
      }

      function convertToOrderedItems(bins) {
        let it;
        return bins.map(function (bin) {
          it = bin.snippetMeta.name.split('__');
          return {"user": it[0], "food": decodeURIComponent(it[1]), "price": it[2]};
        });
      }
    }
  },
  filters: {
    pretty: function (value) {
      return JSON.stringify(value, null, 2);
    },
    currency: function (value) {
      if (typeof value !== "number" && typeof value !== "string") {
        return value;
      }
      let formatter = new Intl.NumberFormat('vn-VN', {
        style: 'currency',
        currency: 'VND'
      });
      return formatter.format(value);
    }
  },
  beforeDestroy() {
    clearInterval(this.timer);
  }
}
</script>

<style scoped>

</style>