<template>
  <div id="home-content">
    <intro/>
    <select-user/>
  </div>
</template>

<script>
import Intro from "../components/Intro";
import SelectUser from "../components/SelectUser";

export default {
  name: 'Home',
  components: {
    Intro,
    SelectUser
  },
  data() {
    return {
      //
    }
  },
  computed: {
    defaultText() {
      return "OrderFood mini tool!" || browser.i18n.getMessage('extName')
    }
  },
  mounted() {
    console.log(`Home mounted`);
  },
  methods: {
    enterPage: function () {
      localStorage.setItem("user", this.$store.state.user);

      chrome.runtime.sendMessage({greeting: "GetURL"},
          function (response) {
            console.log(`getting tabURL:..., resp: `, response);
            let tabURL = response.navURL;
            let isValidUrl = tabURL && tabURL.startsWith('https://shopeefood.vn/');
            if (!isValidUrl) {
              alert("Not supported page, please open Shopee food and try again!");
            } else {
              alert("Welcome to Shopee food page!");
            }
          });
    }
  }
}
</script>

<style scoped>
p {
  font-size: 20px;
}
</style>
