<template>
  <div class="user-orders">
    User orders page ({{ $store.state.user }})
  </div>
</template>

<script>
export default {
  name: "UserOrders",
  data() {
    return {
      //
    }
  }
}
</script>

<style scoped>

</style>