<template>
  <div class="container">
    <p class="text-info text-center">=== OrderFood mini tool ===</p>
  </div>
</template>

<script>
export default {
  name: 'Intro',
}
</script>

<style scoped>
p {
  font-size: 20px;
}
</style>
