<template>
  <div class="container">
    <h3 class="text-info text-center mt-3">{{ defaultText }}</h3>

    <div class="row user-type">
      <p class="col-12 text-primary text-center">Are you admin or user?</p>
      <label for="userType" class="col-6 text-right">
        User
        <input type="radio" name="userType" :checked="isUser" value="user" v-model="_userType" id="userType">
      </label>
      <label for="adminType" class="col-6 text-left">
        Admin
        <input type="radio" name="userType" :checked="isUser" value="admin" v-model="_userType" id="adminType">
      </label>
      <label for="userName" class="col-12 text-left">
        Enter your name:
        <input type="text" name="user" value="" v-model="_user" id="userName">
      </label>
      <div class="col-12 text-center">
        <button class="btn btn-success" v-on:click="enterPage">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectUser',
  data() {
    return {
      user: '',
      userType: 'user', // user, admin
    }
  },
  computed: {
    defaultText() {
      return "Welcome to OrderFood mini tool!" || browser.i18n.getMessage('extName');
    },
    /* must use this way for v-model bi-direction sync */
    _user: {
      get () {
        return this.$store.state.user
      },
      set (value) {
        this.user = value;
      }
    },
    _userType: {
      get () {
        return this.$store.state.userType
      },
      set (value) {
        this.userType = value;
      }
    },
    isUser() {
      return this.userType === 'user';
    }
  },
  mounted() {
    console.log(`SelectUser mounted, user: `, this.$store.state.user);
    this.user = this.$store.state.user;
    this.userType = this.$store.state.userType;
  },
  methods: {
    enterPage: function () {
      localStorage.setItem("user", this.user);
      localStorage.setItem("userType", this.userType);
      this.$store.state.user = this.user;
      this.$store.state.userType = this.userType;

      chrome.tabs.query({
        active: true,
        currentWindow: true
      }, tabs => {
        chrome.tabs.sendMessage(
            tabs[0].id,
            {greeting: "updateUser", data: this.user},
            function (response) {
              console.log(`updateUser:..., resp: `, response);
            });
      });
    }
  }
}
</script>

<style scoped>
p {
  font-size: 20px;
}
</style>
