<template>
  <div class="container">
    <p class="text-info text-center">{{ defaultText }} (list: {{ items.length }})</p>
    <div class="ordered-listing">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <td>H1</td>
          <td>H2</td>
          <td>H3</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, idx) in items" :key="idx">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hello',
  data() {
    return {
      items: [],
      timer: null,
    }
  },
  mounted() {
    browser.runtime.sendMessage({});

    /* listing ordered */
    localStorage.setItem("ordered", JSON.stringify([
      [1, 2, 3], [4, 5, 6], [7, 8, 9], [14, 15, 16]
    ]));
    this.timer = setInterval(this.handleOrdered, 2000);
  },
  computed: {
    defaultText() {
      return browser.i18n.getMessage('extName')
    }
  },
  methods: {
    handleOrdered: function () {
      let orderedItems = localStorage.getItem('ordered');
      console.log('orderedItems: ', orderedItems);
      this.items = JSON.parse(orderedItems);
    }
  },
  filters: {
    pretty: function(value) {
      return JSON.stringify(value, null, 2);
    }
  },
  beforeDestroy() {
    clearInterval(this.timer);
  }
}
</script>

<style scoped>
p {
  font-size: 20px;
}
</style>
